body{
    padding: 0;
    margin: 0;
    background:linear-gradient(to right,#306852,#2d9cc6);
}
.container{
    align-items: center;
   border: solid 2px white;
   height: 90vh;
   width: 30%;
   margin-left: 32rem;
   padding-left: 5rem;
   margin-top: 5rem;
   padding-top: 2rem;
   background-color: rgb(244, 250, 251);
   border-radius: 2rem;
   border: 2px solid blue ;
}
.title{
    margin-left: 3rem;
}
input{
    width: 80%;
    height: 6vh;
  
    
}
button{
 padding: 3px 4px 3px 4px;
 margin-top: 2rem;
 margin-bottom: 1rem;
 margin-left: 5rem;
 background-color: blue;
 color: white;
 border-radius: 10px;
 font-size: 1.3rem
}
.loc{
    margin-left: 5rem;
    margin-top: 1rem;
}
.temp{
    margin-left: 6rem;
    color: rgb(255, 170, 0);
}
.humidity{
   margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
}
.speed{
   margin-bottom: 2rem;
    margin-top: 1.5rem;
    color: red;
}